/* line 93, ../sass/_lib.sass */
.input_tiny {
  width: 50px;
}

/* line 96, ../sass/_lib.sass */
.input_small {
  width: 100px;
}

/* line 99, ../sass/_lib.sass */
.input_medium {
  width: 150px;
}

/* line 102, ../sass/_lib.sass */
.input_large {
  width: 200px;
}

/* line 105, ../sass/_lib.sass */
.input_xlarge {
  width: 250px;
}

/* line 108, ../sass/_lib.sass */
.input_xxlarge {
  width: 300px;
}

/* line 111, ../sass/_lib.sass */
.input_full {
  width: 100%;
}

/* line 116, ../sass/_lib.sass */
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

/* line 123, ../sass/_lib.sass */
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 127, ../sass/_lib.sass */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 130, ../sass/_lib.sass */
input,
button,
select,
textarea {
  margin: 0;
  vertical-align: middle;
}

/* line 137, ../sass/_lib.sass */
input[type="radio"],
input[type="checkbox"] {
  position: relative;
  vertical-align: top;
  top: 3px;
  top: 0 \0;
  *top: -3px;
}

@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  /* line 149, ../sass/_lib.sass */
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  /* line 156, ../sass/_lib.sass */
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  /* line 163, ../sass/_lib.sass */
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}
/* line 168, ../sass/_lib.sass */
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  background: #dddddd url(img/button.png) repeat-x;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(#ffffff, #dddddd);
  background: -moz-linear-gradient(#ffffff, #dddddd);
  background: -o-linear-gradient(#ffffff, #dddddd);
  background: -ms-linear-gradient(#ffffff, #dddddd);
  background: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0px;
}

/* line 193, ../sass/_lib.sass */
button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

/* line 198, ../sass/_lib.sass */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 1.8em;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}

/* line 242, ../sass/_lib.sass */
::-webkit-input-placeholder {
  color: #888888;
}

/* line 245, ../sass/_lib.sass */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888;
}

/* line 249, ../sass/_lib.sass */
input.placeholder-text,
textarea.placeholder-text {
  color: #888888;
}

/* line 253, ../sass/_lib.sass */
:invalid {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 261, ../sass/_lib.sass */
button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: #0066ff 0 0 7px;
  -webkit-box-shadow: #0066ff 0 0 7px;
  box-shadow: #0066ff 0 0 7px;
  z-index: 1;
}

/* line 275, ../sass/_lib.sass */
input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 285, ../sass/_lib.sass */
select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
}

/* line 302, ../sass/_lib.sass */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
}

/* line 317, ../sass/_lib.sass */
textarea,
select[size],
select[multiple] {
  height: auto;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 324, ../sass/_lib.sass */
  select {
    background-image: url(img/select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 329, ../sass/_lib.sass */
  select[size],
  select[multiple] {
    background-image: none;
    padding: 0;
  }

  /* line 333, ../sass/_lib.sass */
  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    height: 16px;
  }

  /* line 344, ../sass/_lib.sass */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border: 0;
  }
}
/* line 352, ../sass/_lib.sass */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 358, ../sass/_lib.sass */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
}

/* line 386, ../sass/_lib.sass */
.ie6_button,
* html button {
  background: #dddddd url(img/button.png) repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  overflow: visible;
  width: auto;
}

/* line 398, ../sass/_lib.sass */
* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

/* line 402, ../sass/_lib.sass */
.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top;
}

/* line 414, ../sass/_lib.sass */
* html select {
  margin-top: 1px;
}

/* line 417, ../sass/_lib.sass */
.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888;
}

/* line 422, ../sass/_lib.sass */
.ie6_input_disabled {
  background: #eeeeee;
}

/* HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ========================================================== */
/* =============================================================================
 * HTML5 display definitions
 * ========================================================================== */
/* line 18, ../sass/screen.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../sass/screen.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 26, ../sass/screen.sass */
audio:not([controls]), [hidden] {
  display: none;
}

/* =============================================================================
 * Base
 * ========================================================================== */
/* 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g */
/* line 38, ../sass/screen.sass */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 44, ../sass/screen.sass */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
  font-family: sans-serif;
  color: #222222;
}

/* line 51, ../sass/screen.sass */
button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

/* Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 *
 *  &:-moz-selection, &:selection
 *    background: #fe57a1
 *    color: #fff
 *    text-shadow: none */
/* =============================================================================
 * Links
 * ========================================================================== */
/* line 69, ../sass/screen.sass */
a {
  color: #0000ee;
}
/* line 71, ../sass/screen.sass */
a:visited {
  color: #551a8b;
}
/* line 73, ../sass/screen.sass */
a:hover {
  color: #0066ee;
}
/* line 75, ../sass/screen.sass */
a:focus {
  outline: thin dotted;
}
/* line 77, ../sass/screen.sass */
a:hover, a:active {
  outline: 0;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* =============================================================================
 * Typography
 * ========================================================================== */
/* line 86, ../sass/screen.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 89, ../sass/screen.sass */
b, strong {
  font-weight: bold;
}

/* line 92, ../sass/screen.sass */
blockquote {
  margin: 1em 40px;
}

/* line 95, ../sass/screen.sass */
dfn {
  font-style: italic;
}

/* line 98, ../sass/screen.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 106, ../sass/screen.sass */
ins {
  background: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 111, ../sass/screen.sass */
mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 119, ../sass/screen.sass */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 126, ../sass/screen.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 131, ../sass/screen.sass */
q {
  quotes: none;
}
/* line 133, ../sass/screen.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 137, ../sass/screen.sass */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 142, ../sass/screen.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 148, ../sass/screen.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 155, ../sass/screen.sass */
sub {
  bottom: -0.25em;
}

/* =============================================================================
 * Lists
 * ========================================================================== */
/* line 162, ../sass/screen.sass */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 166, ../sass/screen.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 170, ../sass/screen.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
 * Embedded content
 * ========================================================================== */
/* 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e */
/* line 184, ../sass/screen.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* Correct overflow not hidden in IE9 */
/* line 192, ../sass/screen.sass */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
 * Figures
 * ========================================================================== */
/* line 199, ../sass/screen.sass */
figure, form {
  margin: 0;
}

/* =============================================================================
 * Forms
 * ========================================================================== */
/* line 206, ../sass/screen.sass */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 213, ../sass/screen.sass */
label {
  cursor: pointer;
}

/* 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7 */
/* line 220, ../sass/screen.sass */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers */
/* line 230, ../sass/screen.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7 */
/* line 240, ../sass/screen.sass */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
/* line 248, ../sass/screen.sass */
table button, table input {
  *overflow: auto;
}

/* 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS */
/* line 255, ../sass/screen.sass */
button {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 260, ../sass/screen.sass */
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
/* line 263, ../sass/screen.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/* line 266, ../sass/screen.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 271, ../sass/screen.sass */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Consistent box sizing and appearance */
/* Remove inner padding and border in FF3/4: h5bp.com/l */
/* line 280, ../sass/screen.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing */
/* line 288, ../sass/screen.sass */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 297, ../sass/screen.sass */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
 * Tables
 * ========================================================================== */
/* line 304, ../sass/screen.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 308, ../sass/screen.sass */
td {
  vertical-align: top;
}

/* ==|== primary styles =====================================================
 * Author:
 * ========================================================================== */
/* line 51, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 87.5%;
  line-height: 1.5em;
}

/* line 55, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 14px;
}

/* line 321, ../sass/screen.sass */
a.button {
  color: #0089c7;
  padding: 0.3em 1em;
  border: 1px solid #999999;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f4f4f4 url("/sites/all/themes/capson301/images/blank-btn-bg.png") center repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#cecece));
  background: -webkit-linear-gradient(top, #f4f4f4, #cecece);
  background: -moz-linear-gradient(top, #f4f4f4, #cecece);
  background: -o-linear-gradient(top, #f4f4f4, #cecece);
  background: -ms-linear-gradient(top, #f4f4f4, #cecece);
  background: linear-gradient(top, #f4f4f4, #cecece);
  text-decoration: none;
}
/* line 67, ../sass/_lib.sass */
a.button:hover {
  background: #e7e7e7 url("/sites/all/themes/capson301/images/blank-btn-bg.png") center 75% repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#b4b4b4));
  background: -webkit-linear-gradient(top, #e7e7e7, #b4b4b4);
  background: -moz-linear-gradient(top, #e7e7e7, #b4b4b4);
  background: -o-linear-gradient(top, #e7e7e7, #b4b4b4);
  background: -ms-linear-gradient(top, #e7e7e7, #b4b4b4);
  background: linear-gradient(top, #e7e7e7, #b4b4b4);
}
/* line 70, ../sass/_lib.sass */
a.button:active {
  position: relative;
  top: 1px;
}

/* line 325, ../sass/screen.sass */
p {
  margin: 1.5em 0;
}

/* line 328, ../sass/screen.sass */
header {
  background: -webkit-gradient(linear, left top, left bottom, from(#0a76ab), to(#064463));
  background: -webkit-linear-gradient(top, #0a76ab, #064463);
  background: -moz-linear-gradient(top, #0a76ab, #064463);
  background: -o-linear-gradient(top, #0a76ab, #064463);
  background: -ms-linear-gradient(top, #0a76ab, #064463);
  background: linear-gradient(top, #0a76ab, #064463);
  border-bottom: 1px solid white;
  position: relative;
}
/* line 332, ../sass/screen.sass */
header #logo {
  padding: 10px;
  margin: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 336, ../sass/screen.sass */
header #logo:hover {
  background: rgba(255, 255, 255, 0.1);
}
/* line 338, ../sass/screen.sass */
header #phone {
  position: absolute;
  right: 20px;
  top: 30px;
  text-align: right;
  padding: 10px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 345, ../sass/screen.sass */
header #phone .cta {
  color: white;
}
/* line 347, ../sass/screen.sass */
header #phone .number {
  color: #68db1e;
  font-size: 30px;
}

/* line 352, ../sass/screen.sass */
#banner {
  background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#cccccc));
  background: -webkit-linear-gradient(top, #dddddd, #cccccc);
  background: -moz-linear-gradient(top, #dddddd, #cccccc);
  background: -o-linear-gradient(top, #dddddd, #cccccc);
  background: -ms-linear-gradient(top, #dddddd, #cccccc);
  background: linear-gradient(top, #dddddd, #cccccc);
  overflow: auto;
  border-bottom: 1px solid #888888;
}
/* line 356, ../sass/screen.sass */
#banner .headline {
  background: url(../img/banner-bg.png) right bottom no-repeat;
  height: 390px;
  width: 60%;
  margin: 0 2.5%;
  float: left;
}
/* line 362, ../sass/screen.sass */
#banner .headline h2 {
  color: #0089c7;
  position: relative;
  top: 30px;
  left: 40px;
  font-weight: 100;
}
/* line 368, ../sass/screen.sass */
#banner .form {
  min-height: 370px;
  background: rgba(255, 255, 255, 0.5);
  margin: 10px 2.5%;
  width: 30%;
  float: left;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 375, ../sass/screen.sass */
#banner .form form {
  padding: 10px;
}
/* line 377, ../sass/screen.sass */
#banner .form form h2 {
  color: #0089c7;
  font-weight: 100;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  margin: 5px 30px 20px;
}
/* line 383, ../sass/screen.sass */
#banner .form form .form-row {
  margin: 8px 0;
}
/* line 385, ../sass/screen.sass */
#banner .form form input, #banner .form form select {
  color: #888888;
  font-family: georgia;
  font-style: italic;
  font-size: 18px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 391, ../sass/screen.sass */
#banner .form form select {
  text-indent: 5px;
  padding: 3px 0;
}

/* line 396, ../sass/screen.sass */
article h1 {
  text-align: center;
  color: #0089c7;
  font-size: 34px;
  font-weight: 100;
}
/* line 401, ../sass/screen.sass */
article section {
  width: 44%;
  margin: 0 3%;
  float: left;
}
/* line 405, ../sass/screen.sass */
article section h2 {
  text-align: center;
  color: #0089c7;
  font-weight: 100;
}
/* line 409, ../sass/screen.sass */
article section .disclaimer {
  border: 2px solid #dddddd;
  background: #f4f4f4;
  padding: 10px;
}

/* line 415, ../sass/screen.sass */
footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#064463), to(#032333));
  background: -webkit-linear-gradient(top, #064463, #032333);
  background: -moz-linear-gradient(top, #064463, #032333);
  background: -o-linear-gradient(top, #064463, #032333);
  background: -ms-linear-gradient(top, #064463, #032333);
  background: linear-gradient(top, #064463, #032333);
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
  color: white;
}
/* line 421, ../sass/screen.sass */
footer a {
  color: white;
}

/* ==|== media queries ======================================================
 * PLACEHOLDER Media Queries for Responsive Design.
 * These override the primary ('mobile first') styles
 * Modify as content requires.
 * ========================================================================== */
@media only screen and (min-width: 480px) {
  /* line 432, ../sass/screen.sass */
  .wrap {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    position: relative;
  }
}
@media only screen and (min-width: 768px) {
  /* line 439, ../sass/screen.sass */
  .wrap {
    width: 740px;
    margin: 0 auto;
    position: relative;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 445, ../sass/screen.sass */
  .wrap {
    width: 960px;
    margin: 0 auto;
    position: relative;
  }

  /* line 449, ../sass/screen.sass */
  .headline {
    height: inherit;
  }
  /* line 451, ../sass/screen.sass */
  .headline h2 {
    font-size: 40px;
    line-height: 48px;
  }
}
@media only screen and (min-width: 1400px) {
  /* line 456, ../sass/screen.sass */
  .wrap {
    width: 1280px;
    margin: 0 auto;
    position: relative;
  }

  /* line 460, ../sass/screen.sass */
  .headline h2 {
    font-size: 52px;
    line-height: 58px;
  }
}
/* ==|== non-semantic helper classes ========================================
 * Please define your styles before this section.
 * ========================================================================== */
/* For image replacement */
/* line 471, ../sass/screen.sass */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
/* line 480, ../sass/screen.sass */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 485, ../sass/screen.sass */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 491, ../sass/screen.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 501, ../sass/screen.sass */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* Hide visually and from screenreaders, but maintain layout */
/* line 513, ../sass/screen.sass */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 518, ../sass/screen.sass */
.clearfix {
  *zoom: 1;
}
/* line 519, ../sass/screen.sass */
.clearfix:before {
  content: "";
  display: table;
}
/* line 522, ../sass/screen.sass */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ==|== print styles =======================================================
 * Print styles.
 * Inlined to avoid required HTTP connection: h5bp.com/r
 * ========================================================================== */
@media print {
  /* line 534, ../sass/screen.sass */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 542, ../sass/screen.sass */
  a {
    text-decoration: underline;
  }
  /* line 544, ../sass/screen.sass */
  a:visited {
    text-decoration: underline;
  }
  /* line 546, ../sass/screen.sass */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 548, ../sass/screen.sass */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 550, ../sass/screen.sass */
  .ir a:after {
    content: "";
  }

  /* line 553, ../sass/screen.sass */
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 556, ../sass/screen.sass */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 559, ../sass/screen.sass */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 562, ../sass/screen.sass */
  tr {
    page-break-inside: avoid;
  }

  /* line 564, ../sass/screen.sass */
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 570, ../sass/screen.sass */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 573, ../sass/screen.sass */
  h2, h3 {
    page-break-after: avoid;
  }
}
